
{% extends 'template.html.twig' %}

{% block title %}Graphique RH{% endblock %}

{% block content %}

<body>
    <div class="page-rh container-fluid">
    
            <h1 class="row page-rh-titre">Ressources Humaines</h1>

        <section class="actualites-rh row">
            <article class=" col-lg-6 col-md-6 col-sm-12">
                <h1>Graphique</h1>
                <!-- Placeholder block for the pie chart -->
                
                <div class="chart-placeholder" ></div>
            </article>

            <article class="col-lg-6 col-md-6 col-sm-12">
                <h1>Absentéïsme</h1>

                 <div id="absenteeismChartContainer" class="chart-placeholder"></div>
             
            </article>
        </section>

        <section class=" actualites-rh row">
            <article class=" col-lg-6 col-md-6 col-sm-12">
                <h1>Répartition</h1>
               <div id="genderDistributionChartContainer" class="chart-placeholder" ></div>
           
            </article>

            <article class="col-lg-6 col-md-6 col-sm-12">
                <h1>Satisfaction</h1>
               <div id="satisfactionChartContainer" class="chart-placeholder"></div>
                
            </article>
        </section>

        <section class="satisfaction-rh row">
            <h1>Faites nous part de votre satisfaction</h1>
            <article class="col-12 d-flex flex-column align-items-center">
                <div class="satisfaction-buttons">
                    <img src="{{ asset('./images/happy.png') }}" alt="Content" onclick="recordSatisfaction('Content')" class="img-fluid">
                    <img src="{{ asset('./images/neutral.png') }}" alt="Un peu content" onclick="recordSatisfaction('Un peu content')" class="img-fluid">
                    <img src="{{ asset('./images/sad.png') }}" alt="Moins content" onclick="recordSatisfaction('Moins content')" class="img-fluid">
                    <img src="{{ asset('./images/angry.png') }}" alt="Fâché" onclick="recordSatisfaction('Fâché')" class="img-fluid">
                </div>
                <div class="col-12" id="selected-satisfaction" style="text-align:center"></div>
            </article>
        </section>
    </div>
</body>

<script>
    let data = {{ dataRessourceHumaine| json_encode | raw }};
</script>
<script src="{{ asset('./js/ressourceHumaine.js') }}"></script>
{% endblock %}
