{% extends 'template.html.twig' %}

{% block title %}Graphique RH{% endblock %}

{% block content %}

<body>
    <div class="page-rh ">

        <section class="actualites-rh row">
            <h1 class="col-12">Ressources Humaines</h1>
            <article class=" col-lg-6 col-md-6 col-sm-12">
                <h3>Masse salariale</h3>


                <div class="chart-placeholder"></div>
            </article>

            <article class="col-lg-6 col-md-6 col-sm-12">
                <h3>Absentéïsme</h3>

                <div id="absenteeismChartContainer" class="chart-placeholder"></div>

            </article>
        </section>

        <section class="satisfaction-rh row">
            <h1>Faites nous part de votre satisfaction</h1>
            <article class="col-12 d-flex flex-column align-items-center">
                <div class="row">


                    <div class="satisfaction-buttons col-12">
                        <div class="row">         
                             <div class="col-3">
                                <img src="{{ asset('./images/happy.png') }}" alt="Content"
                                onclick="recordSatisfaction('Content')" class="img-fluid">
                             </div>
                           
                             <div class="col-3">
                        <img src="{{ asset('./images/neutral.png') }}" alt="Un peu content"
                            onclick="recordSatisfaction('Un peu content')" class="img-fluid">    </div>
                            <div class="col-3">
                        <img src="{{ asset('./images/sad.png') }}" alt="Moins content"
                            onclick="recordSatisfaction('Moins content')" class="img-fluid"> </div>
                            <div class="col-3">
                        <img src="{{ asset('./images/angry.png') }}" alt="Fâché" onclick="recordSatisfaction('Fâché')"
                            class="img-fluid"></div>
                        </div>
                        
                    </div>
                    <div class="col-12" id="selected-satisfaction" style="text-align:center"></div>
                </div>
            </article>
        </section>
    </div>
</body>

<script>

        // Intégration des données JSON dans le code JavaScript
        let dataTauxAbsence = {{ dataRessourceHumaine.resultTauxAbsence | json_encode | raw }};
        let dataMasseSalaire = {{ dataRessourceHumaine.resultMasseSalaire | json_encode | raw }};

        
 
</script>

<script src="{{ asset('./js/ressourceHumaine.js') }}"></script>
{% endblock %}