{% extends 'template.html.twig' %}

{% block title %}Graphique RH{% endblock %}

{% block content %}

<body>
    <div class="page-rh">
        <h1>Ressources Humaines</h1>
        <section class="actualites-rh">
            <article class="actualite-rh">
                {# <img src="asset/images/camenbert.png" alt=""> #}
            </article>

            <article class="actualite-rh">  
                <div id="absenteeismChartContainer">
        
  
                    </div>
            </article>
        </section>

        <h1>Répartition</h1>
        <section class="actualites-rh">
            <article class="actualite-rh">  
                  <div id="genderDistributionChartContainer">
       
            </div>
            </article>

            <article class="actualite-rh"> 
                <div id="satisfactionChartContainer">
       
            </div>
            </article>
        </section>

        {# <h1> Faites nous part de votre satisfaction</h1>
        <section class="actualites-rh">
            <article class="actualite-rh">
                <div class="satisfaction-buttons">

                    <img src="{{ asset('./images/happy.png') }}" alt="Content" onclick="recordSatisfaction('Content')">
                    <img src="{{ asset('./images/neutral.png') }}" alt="Un peu content"
                        onclick="recordSatisfaction('Un peu content')">
                    <img src="{{ asset('./images/sad.png') }}" alt="Moins content"
                        onclick="recordSatisfaction('Moins content')">
                    <img src="{{ asset('./images/angry.png') }}" alt="Fâché" onclick="recordSatisfaction('Fâché')">
                </div>
                <div id="selected-satisfaction"></div>

            </article>
        </section>
    </div> #}
</body>

<script>
// graphique taux d'absence par meties
        let data = {{ dataRessourceHumaine.resultAbsenteeism | json_encode | raw }};
        let dataSatisfaction  = {{ dataRessourceHumaine.resultSatisfaction | json_encode | raw }};


</script>
 <script src="{{ asset('./js/ressourceHumaine.js') }}" ></script>
{% endblock %}