<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/> 
		{% block stylesheet %}{% endblock %}
<!-- 
		<link rel="stylesheet" href={{ asset('css/style.css') }} /> -->
		
		<link rel="stylesheet" href={{ asset('css/headerpage.css') }} />
		<link rel="stylesheet" href={{ asset('css/footerpage.css') }} />
		<link rel="stylesheet" href={{ asset('css/ressourcehumaines.css') }} />
		<link rel="stylesheet" href={{ asset('css/commerce.css') }} />
		<link rel="stylesheet" href={{ asset('css/homepage.css') }} />


{% block javascript %}
		<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

{% endblock %}	

		<title>
			{% block title %}Transports prudent
			{% endblock %}
		</title>

	</head>

	<body>
		{% include 'HeaderPage.html.twig' %}

	   {% block content %}{% endblock %}

		{% include 'FooterPage.html.twig' %}



		<script src=""> </script>
	</body>
</html>
