<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/> 
		{% block stylesheet %}
		
		<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
		<link rel="stylesheet" href="https://cdn.syncfusion.com/ej2/material.css" />
		<link rel="stylesheet" href={{ asset('css/headerpage.css') }} />
		<link rel="stylesheet" href={{ asset('css/footerpage.css') }} />
		<link rel="stylesheet" href={{ asset('css/ressourcehumaines.css') }} />
		<link rel="stylesheet" href={{ asset('css/commerce.css') }} /> 
		<link rel="stylesheet" href={{ asset('css/exploitation.css') }} /> 
		 <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
   
		<link rel="stylesheet" href={{ asset('css/homepage.css') }} />
		{% endblock %}

		{% block syncfusionjs %}
		<script src="https://cdn.syncfusion.com/ej2/dist/ej2.min.js"></script>
		<script src="https://cdn.syncfusion.com/ej2/dist/ej2.min.js.map"></script>

		{% endblock %}	


		<title>
			{% block title %}Transports prudent
			{% endblock %}
		</title>

	</head>

	<body class="container-fluid">
		{% include 'HeaderPage.html.twig' %}

	   {% block content %}{% endblock %}

		{% include 'FooterPage.html.twig' %}


		{% block javascript %}
		<script src=" {{ asset('./js/meteo.js') }}"></script>
		<script src="{{ asset('./js/nouvelles.js') }}"></script> 
		<script  src=" {{ asset('./js/satisfaction.js') }}"></script>
		<script type="module" src=" {{ asset('./js/syncfusion.js') }}"></script>
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	   
		{% endblock  %}
		
	</body>
</html>
